<div class="app-info">
  <div class="row row-header top-buffer-4">
    <div class="media">
      <img class="media-object pull-left" ng-src="{{vm.app.logo}}" ng-alt="{{vm.app.name}}">
      <div class="media-body">
        <h2 class="media-heading">{{vm.app.name}}</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col-lg-6 position-left-element">
      <h4>{{ 'mno_enterprise.templates.onboarding.connect_app_wizard.what_is' | translate }} {{vm.app.name}}?</h4>
      <div class="well top-buffer-1" ng-bind-html="vm.app.description">
      </div>
      <h4>{{ 'mno_enterprise.templates.onboarding.connect_app_wizard.how_is' | translate }} {{vm.app.name}} {{ 'mno_enterprise.templates.onboarding.connect_app_wizard.integrated' | translate }}</h4>
      <div class="well top-buffer-1" ng-bind-html="vm.app.description"></div>
      <h4>{{ 'mno_enterprise.templates.onboarding.connect_app_wizard.what_is_shared' | translate }}{{vm.app.name}}?</h4>
      <div class="well top-buffer-1" ng-bind-html="vm.app.description"></div>
    </div>
    <div class="position-right-top-element top-buffer-3">
      <mno-app-features app="vm.app"></mno-app-features>
    </div>
    <div class="col-lg-4">
      <div ng-show="!!vm.app.free_trial_duration">
        {{ vm.app.free_trial_duration }}{{ 'mno_enterprise.templates.onboarding.connect_app_wizard.free_trial' | translate }}
      </div>
    </div>
  </div>
</div>
