<mno-loader ng-show="!areAppsReady" class="top-buffer-4"></mno-loader>
<div class="connect-apps-panel" ng-show="areAppsReady">
  <!-- Header -->
  <div class="connect-apps-wrap">
    <div class="row">
      <div class="col-md-12 top-buffer-1">
        <table class="connect-apps-table table table-bordered">
          <tr>
            <td ng-repeat="app in apps | limitTo:4">
            <div class='text-center'>
              <h4>{{app.name}}</h4>
            </div>
            <img class="media-object" ng-src="{{app.logo}}" alt="{{app.name}}"></td>
          </tr>
          <tr>
            <td class='top-buffer-4' ng-repeat="app in apps | limitTo:4">
              <div class='text-center top-buffer-2'>
                <div class="menu-item ng-hide" ng-hide="isLaunchHidden(app)">
                  <a href="#" class="btn btn-primary btn-primary" ng-click="launchApp(app,$event);">{{ 'mno_enterprise.templates.onboarding.connect_apps.launch_app' | translate }}</a>
                </div>
                <div class="menu-item ng-hide" ng-show="isOauthConnectBtnShown(app)">
                  <a href="#" class="btn btn-primary btn-primary" ng-click="showConnectModal(app)">{{ 'mno_enterprise.templates.onboarding.connect_apps.connect' | translate }}</a>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
