<mno-loader ng-show="!areAppsReady" class="top-buffer-4"></mno-loader>
<div class="connect-apps-panel" ng-show="areAppsReady">
  <!-- Header -->
  <div class="connect-apps-wrap">
    <div class="row">
      <div class="col-md-12">
        <table class="connect-apps-table table table-bordered">
          <tr>
            <td ng-repeat="app in apps | limitTo:4">
            <div class='text-center'>
              <h4>{{app.name}}</h4>
            </div>
            <img class="media-object" ng-src="{{app.logo}}" alt="{{app.name}}"></td>
          </tr>
          <tr>
            <td class='top-buffer-3' ng-repeat="app in apps | limitTo:4">
              <div class='text-center top-buffer-1'>
                <mno-app-install-btn app="app"></mno-app-install-btn>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
