<div id="wizard-end">
  <div class="text-center">
    <div class="title">
      <h1>{{'mno_enterprise.templates.onboarding.end_wizard.we_are_almost_there' | translate}}</h1>
    </div>
    <div class="center-paragraph top-buffer-2">
      {{'mno_enterprise.templates.onboarding.end_wizard.before' | translate}}
    </div>
    <div class="text-center top-buffer-2">
      <div class="text-center-left-align">
        <ul>
          <li>{{'mno_enterprise.templates.onboarding.end_wizard.can_access' | translate}}</li>
          <li>{{'mno_enterprise.templates.onboarding.end_wizard.can_connect' | translate}}</li>
          <li>{{'mno_enterprise.templates.onboarding.end_wizard.our' | translate}} <a href="https://maestrano.atlassian.net/wiki/display/UKB/Maestrano+Apps+Marketplace" target="_blank"> {{'mno_enterprise.templates.onboarding.end_wizard.user_knowledge' | translate}} </a>{{'mno_enterprise.templates.onboarding.end_wizard.user_knowledge_base' | translate}}</li>
          <li>{{'mno_enterprise.templates.onboarding.end_wizard.new_dashboard' | translate}}</li>
        </ul>  
      </div>
    </div>
    <div class="text-center center-paragraph top-buffer-2">
      {{'mno_enterprise.templates.onboarding.end_wizard.need_help' | translate}}
    </div>
  </div>
</div>
