<div id="select-app">
  <div class="select-app-marketplace">
    <div class="row">
      <div class="col-xs-12">
        <mno-widget class="top-buffer-2">
          <mno-widget-header>
            <input type="text" ng-model="searchTerm.name" placeholder="{{ 'mno_enterprise.templates.onboarding.select_your_app.search' | translate }}" class="form-control input-sm search-bar" ng-change="selectedCategory.category = ''">
            <select class="pull-left form-control something search-bar" ng-model="selectedCategory.category" ng-options="c for c in categories" ng-change="searchTerm.name = ''">
              <option value=''>{{ 'mno_enterprise.templates.onboarding.select_your_app.categories' | translate }}</option>
            </select>
          </mno-widget-header>
          <mno-widget-body>
            <mno-loader ng-show="isLoading" class="top-buffer-4"></mno-loader>
            <div class="apps-container">
              <div class="app-icon" ng-mouseover="hoverIn(app)" ng-mouseleave="hoverOut(app)" ng-repeat="app in appsMarketplace | filter:appsFilter | filter:{name: searchTerm.name}">
                <div class="app-icon-wrapper" ng-click="toggleApp(app)">
                  <div class="checked" ng-show="app.checked">
                    <i class="fa fa-check fa-5x"></i>
                  </div>
                  <img class="app-logo img-thumbnail" ng-src="{{app.logo}}" alt="{{'mno_enterprise.templates.onboarding.select_your_app.app_logo' | translate:{'app': app.name} }}"" title="{{app.tiny_description}}">
                  <!-- Delete the one above and uncomment the one bellow once we push to deploy -->
                  <!-- <img class="app-logo img-thumbnail" ng-src="{{trustSrc(app.logo)}}" alt="{{'mno_enterprise.templates.onboarding.select_your_app.app_logo' | translate:{'app': app.name} }}"" title="{{::app.tiny_description}}"> -->
                </div>
                <button type="button" class="pull-right info-btn" ng-click="openInfoModal(app)" ng-show="isInfoShown(app)">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </button>
                <div class="app-title">
                  {{app.name}}
                </div>
              </div>
            </div>
          </mno-widget-body>
        </mno-widget>
      </div>
    </div>
  </div>
</div>
