#select-app {
  min-height: 80%;
  max-height: 80%;
  min-width: 90%;

  .select-app-marketplace {
    width: 99%;

    .recommendation-sentence {
      color: @onboarding-select-app-marketplace-warning-sentence-color;
    }

    .input-sm {
      color: @onboarding-select-app-marketplace-search;
    }

    .element-left {
      max-width: 150px;
      float: left;
      margin-top: 0px;
    }

    .form-control {
      color: @onboarding-select-app-marketplace-search;
    }
    
    .apps-container {
      display: flex;
      flex-wrap: wrap;

      i.fa {
        color: @onboarding-select-app-marketplace-tile-icon-color;
      }

      .app-icon {
        max-width: 120px;
        margin: 10px;

        .app-icon-wrapper {
          position: relative;

          .app-logo {
            width: 100%;
          }

          .checked {
            position: absolute;
            border-radius: 6px;
            background-color: @onboarding-select-app-marketplace-tile-check-color;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            // Center the tick
            display: flex;
            align-items: center;
            justify-content: center;
          }      
        }

        .info-btn{
          border: none;
          background-color: transparent;
        }
                
        .app-title {
          margin-top: 4px;
          color: @onboarding-select-app-marketplace-tile-txt-color;
          .ellipsis;
        }
      }
    }
  }
}
