.data-sync-panel {

  .data-sync-table {
    overflow-x: scroll;

    th, td {
      min-width: 50px;
    }

    ul {
      padding-left: 20px;
    }

    h5 {
      color: @onboarding-data-sync-app-name-color;
      font-weight: @onboarding-data-sync-app-name-weight;
    }

    .section-name {
      color: @onboarding-data-sync-section-color;
      font-weight: @onboarding-data-sync-section-weight;
    }

    img.media-object {
      max-width: 60px;
      height: auto;
      margin: 0 auto;
    }
  }

  .glyphicon-remove {
    color: @onboarding-data-sync-cross-icon;
  }
  
  .glyphicon-ok {
    color: @onboarding-data-sync-ok-icon;
  }
  
  .subtitle {
    color: @onboarding-data-sync-title;   
  }
  
  .data-sync-wrap {
    margin-top: 20px;
  }

  .paragraph {
    color: @onboarding-txt-color;
  }
  
  .bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .data-sync-info {
    overflow: auto;
  }
}
