<div class="data-sync-panel">
  <!-- Header -->
  <div class="data-sync-wrap">
    <div class="row">
      <div class="col-md-12">
        <div class="data-sync-info">
          <div ng-show="!isPanelShown">
            <div class="subtitle">
              <h3>{{'mno_enterprise.templates.onboarding.data_sync.what_data' | translate}}</h3>
            </div>
            <div class="paragraph">
              {{'mno_enterprise.templates.onboarding.data_sync.start' | translate}}
            </div>
            <p class="text-muted">
              {{'mno_enterprise.templates.onboarding.data_sync.learn_more' | translate}}
            </p>
          </div>
          <div ng-show="isPanelShown">
            <table class="data-sync-table table table-bordered">
              <tr>
                <th></th>
                <td ng-repeat="app in apps | limitTo:10"><img class="media-object" ng-src="{{app.logo}}" alt="{{app.name}}"> 
                  <div class="text-center">
                    <h5>{{app.name}}</h5>
                  <div>
                </td>
              </tr>
              <tr>
                <th class="col-xs-1 section-name">{{'mno_enterprise.templates.onboarding.data_sync.contacts' | translate}}</th>
                <td class="text-center" ng-repeat="app in apps | limitTo:10">
                  <div class="media-object">
                    <span class="glyphicon" ng-class="isContactsShared ? 'glyphicon-ok': 'glyphicon-remove'"></span>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="col-xs-1 section-name">{{'mno_enterprise.templates.onboarding.data_sync.invoices' | translate}}</th>
                <td class="text-center" ng-repeat="app in apps | limitTo:10">
                  <span class="glyphicon" ng-class="isInvoicesShared ? 'glyphicon-ok': 'glyphicon-remove'"></span>
                </td>
              </tr>
              <tr>
                <th class="col-xs-1 section-name">{{'mno_enterprise.templates.onboarding.data_sync.journals' | translate}}</th>
                <td class="text-center" ng-repeat="app in apps | limitTo:10">
                  <span class="glyphicon" ng-class="isJournalsShared ? 'glyphicon-ok': 'glyphicon-remove'"></span>
                </td>
              </tr>
              <tr>
                <th class="col-xs-1 section-name">{{'mno_enterprise.templates.onboarding.data_sync.employees' | translate}}</th>
                <td class="text-center" ng-repeat="app in apps | limitTo:10">
                  <span class="glyphicon" ng-class="isEmployeesShared ? 'glyphicon-ok': 'glyphicon-remove'"></span>
                </td>
              </tr>
              <tr>
                <th class="col-xs-1 section-name">{{'mno_enterprise.templates.onboarding.data_sync.opportunities' | translate}}</th>
                <td class="text-center" ng-repeat="app in apps | limitTo:10">
                  <span class="glyphicon" ng-class="isOpportunitiesShared ? 'glyphicon-ok': 'glyphicon-remove'"></span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

