<div class="data-sync-panel">
  <!-- Header -->
  <div class="data-sync-wrap">
    <div class="row">
      <div class="col-md-12">
        <div class="data-sync-info">
          <div ng-show="!isPanelShown">
              <h3>{{'mno_enterprise.templates.onboarding.data_sync.what_data' | translate}}</h3>
              {{'mno_enterprise.templates.onboarding.data_sync.start' | translate}}
             
              <p class="text-muted">
                {{'mno_enterprise.templates.onboarding.data_sync.learn_more' | translate}}
              </p>
          </div>
          <div ng-show="isPanelShown">
            <table class="data-sync-table table table-bordered">
              <tr>
                <th></th>
                <td ng-repeat="app in apps | limitTo:10"><img class="media-object" ng-src="{{app.logo}}" alt="{{app.name}}"></td>
              </tr>
              <tr>
                <th class="col-xs-1">{{'mno_enterprise.templates.onboarding.data_sync.contacts' | translate}}</th>
                <td ng-repeat="app in apps | limitTo:10">
                  <!-- inside true we will evaluate if the app share this data or not to display the right glyphicon -->
                  <div class="media-object">
                    <span class="glyphicon" ng-class="{ 'glyphicon-ok': true, 'glyphicon-remove': false }"></span>
                  </div>
                </a></td>
              </tr>
              <tr>
                <th class="col-xs-1">{{'mno_enterprise.templates.onboarding.data_sync.invoices' | translate}}</th>
                <td ng-repeat="app in apps | limitTo:10">
                  <!-- inside true we will evaluate if the app share this data or not to display the right glyphicon -->
                  <span class="glyphicon" ng-class="{ 'glyphicon-ok': false, 'glyphicon-remove': true }"></span>
                </td>
              </tr>
              <tr>
                <th class="col-xs-1">{{'mno_enterprise.templates.onboarding.data_sync.journals' | translate}}</th>
                <td ng-repeat="app in apps | limitTo:10">
                  <!-- inside true we will evaluate if the app share this data or not to display the right glyphicon -->
                  <span class="glyphicon" ng-class="{ 'glyphicon-ok': false, 'glyphicon-remove': true }"></span>
                </td>
              </tr>
              <tr>
                <th class="col-xs-1">{{'mno_enterprise.templates.onboarding.data_sync.employees' | translate}}</th>
                <td ng-repeat="app in apps | limitTo:10">
                  <!-- inside true we will evaluate if the app share this data or not to display the right glyphicon -->
                  <span class="glyphicon" ng-class="{ 'glyphicon-ok': true, 'glyphicon-remove': false }"></span>
                </td>
              </tr>
              <tr>
              <tr>
                <th class="col-xs-1">{{'mno_enterprise.templates.onboarding.data_sync.opportunities' | translate}}</th>
                <td ng-repeat="app in apps | limitTo:10">
                  <!-- inside true we will evaluate if the app share this data or not to display the right glyphicon -->
                  <span class="glyphicon" ng-class="{ 'glyphicon-ok': true, 'glyphicon-remove': false }"></span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

