<div id="app-features">
  <div class="btn-group">
    <div for="frm-test-elm-100-1" class="btn btn-default">
      <span class="glyphicon" ng-class="isSingleSignOn ? 'fa fa-check-square-o fa-lg' : 'fa fa-square-o fa-lg'"></span>
      <span class="content">{{ 'mno_enterprise.templates.app_feature.single_sign_on' | translate }}</span>
    </div>
  </div>
  <div class="btn-group top-space">
    <div for="frm-test-elm-100-1" class="btn btn-default">
      <span class="glyphicon" ng-class="isSingleBilling ? 'fa fa-check-square-o fa-lg' : 'fa fa-square-o fa-lg'"></span>
      <span class="content">{{ 'mno_enterprise.templates.app_feature.single_billing' | translate }}</span>
    </div>
  </div>
  <div class="btn-group top-space">
    <div for="frm-test-elm-100-1" class="btn btn-default">
      <span class="glyphicon" ng-class="isDataSharing ? 'fa fa-check-square-o fa-lg' : 'fa fa-square-o fa-lg'"></span>
      <span class="content">{{ 'mno_enterprise.templates.app_feature.data_sharing' | translate }}</span>
    </div>
  </div>
</div>
