#app-features {
  border: 1px solid @text-strong-color;

  .top-buffer-1 {
    margin-top: 5px;
  }

  .col-lg-3 {
    width: 20%;
    float: right;
  }

  .btn-default {
    color: @text-strong-color;
    background-color: transparent;
    border-color: transparent;
  }
}
