<div id="app-features">
  <div class="btn-group">
    <label for="frm-test-elm-100-1" class="btn btn-default">
      <span class="glyphicon" ng-class="{ 'fa fa-check-square-o fa-lg': isSingleSignOn, 'fa fa-square-o fa-lg': !isSingleSignOn }"></span>
      <span class="content">{{ 'mno_enterprise.templates.app_feature.single_sign_on' | translate }}</span>
    </label>
  </div>
  <div class="btn-group top-buffer-1">
    <label for="frm-test-elm-100-1" class="btn btn-default">
      <span class="glyphicon" ng-class="{ 'fa fa-check-square-o fa-lg': isSingleBilling, 'fa fa-square-o fa-lg': !isSingleBilling }"></span>
      <span class="content">{{ 'mno_enterprise.templates.app_feature.single_billing' | translate }}</span>
    </label>
  </div>
  <div class="btn-group top-buffer-1">
    <label for="frm-test-elm-100-1" class="btn btn-default">
      <span class="glyphicon" ng-class="{ 'fa fa-check-square-o fa-lg': isDataSharing, 'fa fa-square-o fa-lg': !isDataSharing }"></span>
      <span class="content">{{ 'mno_enterprise.templates.app_feature.data_sharing' | translate }}</span>
    </label>
  </div>
</div>
