#app-features {
  border: 1px solid @text-strong-color;

  .top-space {
    margin-top: 5px;
  }

  .btn-default {
    color: @text-strong-color;
    background-color: transparent;
    border-color: transparent;
  }
}
