<div id="wizard">
  <div class="main-box">
    <wizard on-finish="finishedWizard()">
      <wz-step wz-title="Select your application">
        <mno-welcome-wizard></mno-welcome-wizard>
        <div class="text-right">
          <a href="#" wz-next class="btn btn-default btn-lg">{{'mno_enterprise.templates.onboarding.mno_welcome_wizard.next' | translate}}<span class="glyphicon glyphicon-menu-right"></span></a>
        </div>
      </wz-step>
      <wz-step wz-title="connect your application">
        <div class="text-center">
          <h1>1. {{'mno_enterprise.templates.onboarding.select_your_app.select_application' | translate}}</h1>
        </div>
        
        <div class="container-fluid">
          <div class="row">
            
            <div class="col-lg-6">
              <div class="content-left">
                <div class="pre-scrollable">
                  <!-- <mno-select-app-wizard apps-data="app" on-callback="onSelectApp(app)" ></mno-select-app-wizard> -->
                  <mno-select-app-wizard apps-data="vm.appsSelected" is-panel-shown="vm.areApps" ></mno-select-app-wizard>

                </div>
              </div>
            </div>
            
            <div class="col-lg-6">
              <mno-data-sync apps-data="vm.appsSelected" is-panel-shown="vm.areApps"></mno-data-sync>
            </div>

          </div>
        </div>
        <div class="text-right">
          <a href="#" wz-next class="btn btn-default btn-lg">{{'mno_enterprise.templates.onboarding.mno_welcome_wizard.next' | translate}}<span class="glyphicon glyphicon-menu-right"></span></a>
        </div>
      </wz-step>
      <wz-step wz-title="Discover your account">
          <input type="submit" wz-next value="Finish now" />
      </wz-step>
    </wizard>
  </div>
</div>
