#wizard {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;

  .main-box {
    width: 90%;
    height: 90%;
    max-height: 90%;
    overflow: hidden;
    background: @bg-on-bg-inverse-color;
    border: solid 1px black;
    display: flex;

    & > div[on-finish] {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
    }
    
    & .steps {
      flex-grow: 1;
    }

    & .step {
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }

  .style-button {
    color: @text-strong-color;
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent, transparent);
    border-color: transparent transparent transparent;
  }

  .style-button:hover {
    color: @text-strong-color;
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent, transparent);
    border-color: transparent transparent transparent;
  }

  .move-right {
    padding-right: 0px;
  }
  .steps-indicator {
    padding: 25px 0 40px 0
  }
  .glyphicon {
    font-size: 18px;
    position: relative;
    top: 3px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

#container-app-selection {
  min-height: 80%;
  min-width: 100%;
  max-height: 80%;
  max-width: 100%;
}
