<div id="welcome">
  <div class="text-center">
    <h1>{{'mno_enterprise.templates.onboarding.mno_welcome_wizard.welcome' | translate}}</h1>
    {{'mno_enterprise.templates.onboarding.mno_welcome_wizard.intro' | translate}}
  </div>
  <div class="content">
    <div class="centered">
      <div class="numberCircle align-baseline">1</div>
      {{'mno_enterprise.templates.onboarding.mno_welcome_wizard.select_app' | translate}}
    </div>
    <div class="centered">
      <div class="numberCircle align-top">2</div>
      {{'mno_enterprise.templates.onboarding.mno_welcome_wizard.connect_app' | translate}}
    </div>
    <div class="centered">
      <div class="numberCircle align-middle">3</div>
      {{'mno_enterprise.templates.onboarding.mno_welcome_wizard.discover' | translate}}
    </div>
  </div>
</div>
