<div id="welcome">
  <div class="text-center">
    <div class="title">
      <h1>{{'mno_enterprise.templates.onboarding.mno_welcome_wizard.welcome' | translate}}</h1>
    </div>
    <div class="center-paragraph top-buffer-3">
      {{'mno_enterprise.templates.onboarding.mno_welcome_wizard.intro' | translate}}
    </div>
  </div>
  <div class="content top-buffer-4">
    <div class="centered">
      <div class="number-circle align-baseline">{{'mno_enterprise.templates.onboarding.mno_welcome_wizard.one' | translate}}</div>
      <div class="steps">
        {{'mno_enterprise.templates.onboarding.mno_welcome_wizard.select_app' | translate}}
      </div>
    </div>
    <div class="centered top-buffer-1">
      <div class="number-circle align-top">{{'mno_enterprise.templates.onboarding.mno_welcome_wizard.two' | translate}}</div>
      <div class="steps">
        {{'mno_enterprise.templates.onboarding.mno_welcome_wizard.connect_app' | translate}}
      </div>
    </div>
    <div class="centered top-buffer-1">
      <div class="number-circle align-middle">{{'mno_enterprise.templates.onboarding.mno_welcome_wizard.three' | translate}}</div>
      <div class="steps">
        {{'mno_enterprise.templates.onboarding.mno_welcome_wizard.discover' | translate}}
      </div>
    </div>
  </div>
</div>
