<div id="welcome">
  <div class="text-center">
    <h1>{{'mno_enterprise.templates.onboarding.mno_welcome_wizard.welcome' | translate}}</h1>
    {{'mno_enterprise.templates.onboarding.mno_welcome_wizard.intro' | translate}}
  </div>
  <div class="content top-buffer-2">
    <div class="centered">
      <div class="number-circle align-baseline">{{'mno_enterprise.templates.onboarding.mno_welcome_wizard.one' | translate}}</div>
      {{'mno_enterprise.templates.onboarding.mno_welcome_wizard.select_app' | translate}}
    </div>
    <div class="centered">
      <div class="number-circle align-top">{{'mno_enterprise.templates.onboarding.mno_welcome_wizard.two' | translate}}</div>
      {{'mno_enterprise.templates.onboarding.mno_welcome_wizard.connect_app' | translate}}
    </div>
    <div class="centered">
      <div class="number-circle align-middle">{{'mno_enterprise.templates.onboarding.mno_welcome_wizard.three' | translate}}</div>
      {{'mno_enterprise.templates.onboarding.mno_welcome_wizard.discover' | translate}}
    </div>
  </div>
</div>
