<div class="app-info">
  <!-- Header -->
  <div class="row show-header top-buffer-4">
    <div class="col-md-12">
      <div class="media">
        <div class="pull-left">
          <img class="media-object" ng-src="{{vm.app.logo}}" ng-alt="{{vm.app.name}}">
        </div>
        <div class="media-body">
          <h2 class="media-heading">{{vm.app.name}}</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- Content -->
  <div class="show-content top-buffer-1">

    <!-- Description row -->
    <div class="row">
      <div class="col-md-12">
        <div class="well top-buffer-1" ng-bind-html="vm.app.description"></div>
      </div>
    </div>

  </div>
</div>
